.invitation_message_wrap{
	font-family: 'Kiwi Maru', serif;
}
.attend_message_wrap .attend_message{
	font-family: 'Shippori Mincho', serif;
}
.attend_message_wrap .attend_message #attend_btn{
	font-family: 'Noto Sans JP', sans-serif;
}
@media (max-width: 767px) {
	.when .name_wrap{
		font-size: 2.5rem;
	}
	.when .place{
	  font-size: 1.6rem;
	}
	.attend_message_wrap .attend_message{
		text-align: left;
	}
	.invitation_message_wrap .message{
  		font-size: 0.95rem;
    }
}