.who {
	display: block!important;
}
.who p {
	font-size: 1.5rem;
}
.who p span {
	font-size: 1rem;
}

.invitation_message_wrap > p{
  font-family: 'Nanum Pen Script', cursive;
}
.invitation_message_wrap .message{
  font-size: 2rem;
}
.attend_message_wrap .attend_message{
	font-family: 'Nanum Pen Script', cursive; 
}
.attend_message_wrap .attend_message #attend_btn{
	font-family: 'Noto Sans KR', sans-serif;
}
#attend_form #addedFamilyArea{
	display: block;
}

.attend_message_wrap{
	display: none
}

@media (max-width: 767px) {
  .invitation_message_wrap .message{
  	font-size: 1.3rem;
  }
  .who p {
	font-size: 1.2rem;
  }
  .who p span {
	font-size: 0.8rem;
  }
}