.invitation_message_wrap{
	font-family: 'Nanum Pen Script', cursive;
}
.attend_message_wrap .attend_message{
	font-family: 'Nanum Pen Script', cursive; 
}
.attend_message_wrap .attend_message #attend_btn{
	font-family: 'Noto Sans KR', sans-serif;
}