a {
	color: black;
	text-decoration:none;
}
a:hover{
	color: black;
}
ul {
	list-style: none;
}
svg {
	width: 30px;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
.modal{
	z-index: 1082;
}
.main-img{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.title_wrap .title{
	font-family: 'Cairo', sans-serif;
	margin-top:20px;
	color:black;
}
.title_wrap .title span:first-child{
	border-top:3px solid black;
}
.title_wrap .title span:last-child{
	border-bottom:3px solid black;
}
.when{
	font-size: 2rem;
	font-weight: bolder;
}
.when .time{
	display: inline-block;
	border-bottom: 0.125rem solid #eee;
	padding-bottom: 1rem;
}
.when .name_wrap{
	font-family: 'Cute Font', cursive; 
	font-size: 4.0rem;
}
.when p .and{
	font-family: 'Bonbon', handwriting;
}
.invitation_message_wrap{
	width:60%; 
	font-size: 1.5rem; 
}
.count_down_wrap p{
	font-size: 4.0rem; 
	font-weight: 600; 
	font-family: 'Bellota', display;
}
.count_down_wrap .count_down{
	font-family: 'Castoro', serif;
	width: 80%;
	margin: 0 auto;
}
.count_down_wrap .count_down .date_description{
	font-size: 1rem
}
.image_wrap .main_image_wrap img{
	height:700px;
}
.image_wrap .sub_image_wrap img{
	cursor: pointer;
}
.sub_title_wrap{
	width:60%; 
	font-size: 1.5rem;
	margin: 3rem auto;
}
.sub_title{
	width:45%; 
	font-size: 3rem; 
	border: 0.5rem solid #BACFCE;
	margin: 3rem auto;
	font-weight: lighter;
}
.attend_message_wrap .attend_message{
	width:100%; 
	border:3px dotted #ccc; 
	font-size: 2rem; 

}
.attend_message_wrap .attend_message #attend_btn{
	font-size: 1.5rem; 
}
.location_wrap iframe{
	border:0;
	width:100%;
	height:30rem
}
.footer{
	margin-bottom:4rem;
	color:black;
}
.fixed-bottom{
	background-color: #E71D36; 
	height:4rem
}
.fixed-bottom a{
	color:#fff; 
	font-size: 2rem;
}
#attendForm{
 z-index: 1081;
}
/* modal */
#attendForm .modal-content {
  width: 80%;
  margin: 0 auto;
}
#attendForm .modal-body {
  padding: 0;
}
.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}
.modal-content h1 {
  font-size: 2.3em;
  font-weight: bold;
}
.myform {
  padding: 2em;
  max-width: 100%;
  color: #fff;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.modal-content h1 {
  font-size: 2.3em;
  font-weight: bold;
}
.myform {
  padding: 2em;
  max-width: 100%;
  color: #fff;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.form-control:focus {
  box-shadow: inset 0 -1px 0 #7e7e7e;
  color: white;
  background-color: inherit;
  border-color: white;
}
.form-control {
  background-color: inherit;
  color: #fff;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
}
.myform .btn {
  width: 100%;
  font-weight: 800;
  background-color: #fff;
  border-radius: 0;
  padding: 0.5em 0;
}
.myform .btn:hover {
  background-color: inherit;
  color: #fff;
  border-color: #fff;
}
.modal-content p {
  text-align: center;
  padding-top: 2em;
  color: grey;
}
.modal-content p a {
  color: #e1e1e1;
  text-decoration: none;
}
.modal-content p a:hover {
  color: #fff;
}
.modal-content .form-check-label{
  margin-right: 1rem;
}

.tooltip {animation: motion 0.5s linear 0s infinite alternate; margin-top: 0;}

@keyframes opacity {
    0%{
        opacity: 0;
    }  
    100%{
        opacity: 1;
    }
}

@keyframes motion {
	0% {margin-top: -20px;}
	100% {margin-top: 10px;}
}

.opacity-hidden{
	opacity: 0;
	transform: translateY(3rem);
}

.opacity-visiable{
	 animation: opacity 2s linear 1 normal;
	 transform: translateY(0px);
	 transition-duration: 2s;
}
      
.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^="right"] .tooltip-arrow::before{
	border-right-color: #E71D36;
}
.tooltip-inner{
	background-color: #E71D36;
	width: 13rem;
	max-width: 13rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border-radius: 16.25rem;
	font-weight: bolder;
}

#attendForm:not([style*="display: none"]) .tooltip{
	display: none;
}
#attendForm[style*="display: block;"] .tooltip{
	display: none;
}


@media (max-width: 767px) {
  .myImg {
    height: 100%!important;
  }
  .myImg2 {
    width: 100%!important;
  } 
  .mobile-fluid{
  	width:100%!important;
  }
  .sub_title{
  	width:80%;
  	font-size: 2rem;
  }
  .tooltip-inner{
  	width: 6rem;
	max-width: 6rem;
	height: 5rem;
	font-size: 0.8rem;
  }
  .myform {
    max-width: 90%;
    margin: 0 auto;
  }
  .tooltip_wrap{
    text-align: left;
    margin-left: 1rem;
  }
  .count_down_wrap .count_down .title{
  	font-size: 1rem;
  }
  .fixed-bottom{
  	height: 3rem;
  }
  .attend_message_wrap .attend_message{
  	font-size: 1.5rem;
  }
  #attendForm .nationality_wrap .content_wrap{
  	font-size: 0.9rem;
  }
  .when .time{
  	font-size: 1.5rem;
  }
  .invitation_message_wrap{
  	font-size: 1.45rem;
  }
}

html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;

}