.list .title > img {
	height: 4rem; 
	width: 4rem;
}

.list .title > p {
	height: 4rem;
}

.list .title > .title-right {
	width: 100%;
}

/* reply of celebration area*/
.list .reply .list > img{
	width:2rem;
	height:2rem;
}

.list .reply .list > .reply-title-right{
	width: 100%;
}

/*.list > .reply > .write{
	font-size:12px;
}*/

.list .reply > .write{
	height:2.5rem;
}

.list .reply > .write > button{
	width:20%;
}



@media (min-width: 768px) {
	.list .reply{
		margin-left:3rem;
		margin-right: 3rem;
	}
	
	.list .reply > .write > button{
		width:15%;
	}
}

@media (max-width: 767px) {
	.list  .content > .body img{  /*size of imgs is 100% on mobile */
		width:100%!important
	}
}