.nav-item {
	text-align: right;
}
.nav-item > a > svg {
	cursor : pointer;
}
.navbar-brand {
	font-family: 'Rampart One', 'Nanum Brush Script',cursive;
	color: purple;
}
.dropdown {
	position : relative!important;
}
.dropdown-menu {
	position : absolute!important;
	min-width : 7rem;
	right : -2px!important;
}
.nav-item svg{
	width : 40px;
	height : 40px;
}
@media screen and (max-width:380px){ /* Iphone seの場合 一行ずれてしまうため、削除*/
	.navbar-nav audio {
		display : none;
	}
}