.nav-item {
	text-align: right;
	position: relative;
}
.nav-item > a > svg {
	cursor : pointer;
}

.nav-item > a > .notice{
	position: absolute;
	right:0px;
	bottom: -3px;
}

.navbar-brand {
	font-family: 'Rampart One', 'Nanum Brush Script',cursive;
	color: purple;
}
.dropdown {
	position : relative!important;
}
.dropdown-menu {
	position : absolute!important;
	min-width : 7rem;
	right : -2px!important;
}
.nav-item svg{
	width : 2rem;
	height : 2rem;
}

/* 通知関連 */
.nav-item > a > .notice > mark{
	color: #dc3545;
	font-size:0.7rem; 
	font-family:sans-serif;
}

#celebration_notice_list{
	font-size: 0.75rem;
	width: 300px;
	background-color:rgba(245,245,245,1);
	position: absolute;
	z-index: 1100;
	left: -248px;
}

#celebration_notice_list .top span{
	color:#9161a8;
	font-family: 'Rampart One', 'Nanum Brush Script',cursive;
}

#notice-list-container .notice-list-anchor img{
	width:1rem;
	height:1rem;
}

#notice-list-container .title-right .-kind{
	color:#9161a8;
}