.nav-item {
	text-align: right;
	position: relative;
}
.nav-item > a > svg {
	cursor : pointer;
}

.nav-item > a > .notice{
	position: absolute;
	right:0px;
	bottom: -5px;
}

.nav-item > a > .notice > mark{
	color:purple;
	font-size:0.7rem; 
	font-family:sans-serif;
}

.navbar-brand {
	font-family: 'Rampart One', 'Nanum Brush Script',cursive;
	color: purple;
}
.dropdown {
	position : relative!important;
}
.dropdown-menu {
	position : absolute!important;
	min-width : 7rem;
	right : -2px!important;
}
.nav-item svg{
	width : 2rem;
	height : 2rem;
}