<!--/*
	exclude top_body_contents and delegate to delegate_body
*/-->
<th:block th:fragment = "body(body_contents,page_title)">
	<th:block th:replace = "layout/body :: delegate_body(_,${body_contents},${page_title})"></th:block>
</th:block>

<!--/*
	include top_body_contents and delegate to delegate_body
*/-->
<th:block th:fragment = "body_withTop(top_body_contents,body_contents,page_title)">
	<th:block th:replace = "layout/body :: delegate_body(${top_body_contents},${body_contents},${page_title})"></th:block>
</th:block>

<!--/*
This fragment include basically common css of the body, footer, js file of the bootstrap. 
@param top_body_contents {tag} page_title above
@param body_contents contents of file of the html. you want to include to this fragment
@param page_title {string} title of page.
*/-->
<div class="container-fluld wrapper" th:fragment = "delegate_body(top_body_contents,body_contents,page_title)">
	<link rel="stylesheet" href="/css/layout/body.css">
	<th:block th:replace = "${top_body_contents}"></th:block>
	<hr th:if="${top_body_contents} != _">
	<div class="container mb-5">
		<h1 class="page-title text-center" th:text="${page_title}"></h1>
	</div>
	<th:block th:replace = "${body_contents}"></th:block>
	<hr>
	<!-- footer -->
	<th:block th:replace = "layout/footer"></th:block>
	<!-- modal -->
	<th:block th:replace = "layout/modal"></th:block>
	<!-- external script area -->
		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- bootstrap js-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
		<script src="/js/external/moment.min.js"></script>
	<!-- script area -->
	<script src="/js/common/async.js"></script>
	<script src="/js/common/modal.js"></script>
	<script src="/js/common/url.js"></script>
	<script src="/js/common/image.js"></script>
	<script src="/js/common/MyError.js"></script>
	<!-- for environment variable beacuse thymeleaf doesn't recognize js file only recognize html file -->
	<th:block th:replace = "layout/script"></th:block>
</div>