<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*
	the fragment for head tag.
	this declars css, meta, and title etc...
	<note> this is used in head tag.
*/-->
<head th:fragment = "header(contents)">
	<title th:text="#{navbar.brand}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/common.css">
	<th:block th:if="__${#locale}__ == 'ko'">
		<link rel="stylesheet" href="/css/language/ko.css">
	</th:block>
	<th:block th:if="__${#locale}__ == 'ja'">
		<link rel="stylesheet" href="/css/language/ja.css">
	</th:block>
	<th:block th:replace="${contents}"></th:block>
</head>
