<script th:inline="javascript">
	// モーダルに関する定数
	const MODAL_YES_TEXT =  /*[[${@environment.getProperty('modal.yes-text')}]]*/ "";
	const MODAL_NO_TEXT =  /*[[${@environment.getProperty('modal.no-text')}]]*/ "";
</script>

<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
		<div class="spinner-border text-primary" role="status">
		  <span class="visually-hidden"></span>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorBtnModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 	  <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger -first-btn"></button>
      </div>
    </div>
  </div>
</div>	

<div class="modal fade" id="oneBtnModal" tabindex="-1" aria-labelledby="oneBtnModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-info"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 	  <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info -first-btn"></button>
      </div>
    </div>
  </div>
</div>	


<!-- Modal With Two button -->
<div class="modal fade" id="twoBtnModal" tabindex="-1" aria-labelledby="twoBtnModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 	  <div class="modal-body"></div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary -first-btn" ></button>
        <button type="button" class="btn btn-secondary noBtn -second-btn" ></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal With Three button -->
<div class="modal fade" id="threeBtnModal" tabindex="-1" aria-labelledby="threeBtnModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 	  <div class="modal-body"></div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary -first-btn" ></button>
		<button type="button" class="btn btn-success -second-btn" ></button>
        <button type="button" class="btn btn-secondary -thrid-btn"></button>
      </div>
    </div>
  </div>
</div>	