<!--/*
	Resolve varables of environment, model from back-end, or etc...
	This file is created because The thymeleaf can't realize Js file.
	Declare varables here. This is used /layout/body.html 
*/-->
<script th:inline="javascript">
	const AUTHENTICATION = /*[[${#authentication}]]*/ "ログインしたユーザID";
	const AUTHENTICATION_NAME = /*[[${#authentication.name}]]*/ "ログインしたユーザID";
	// ログイン有無
	// 注意:anonymousUserのIDがある場合は、障害が起きる可能性がある。
	const AUTHENTICATIONED = AUTHENTICATION_NAME != "anonymousUser" ? true : false;
	// 管理者でログインした有無フラグ
	const ADMIN_LOGIN = AUTHENTICATION.authorities != null && 
			AUTHENTICATION.authorities[0]?.authority == 'ROLE_admin' ? true : false; 
	const language = /*[[${#locale}]]*/ "language";
	const apiUrl = "/"+/*[[${@environment.getProperty('client.api-url')}]]*/ "commonApiUrl";
	const DEFAULT_ERROR_TITLE = "E-0001";
	const DEFAULT_ERROR_BODY = /*[[#{E-0001}]]*/ "default error body";
	const LOADING_MODAL_DELAY = /*[[${@environment.getProperty('client.loading-modal-delay')}]]*/ "ミリ秒";
	// background音楽に関するメッセージ
	const BACKGROUND_MUSIC_MODAL_TITLE = /*[[#{background-music.modal.title}]]*/ "";
	const BACKGROUND_MUSIC_MODAL_BODY = /*[[#{background-music.modal.body}]]*/ "";
	const BACKGROUND_MUSIC_MODAL_FILENAME = /*[[#{background-music.modal.filename}]]*/ "";
	// ページングに関する定数
	const PAGE_PAGES_OF_PAGE =  /*[[${@environment.getProperty('client.page-pagesOfpage')}]]*/ "";
	const PAGE_PAGES_OF_ELEMENT =  /*[[${@environment.getProperty('client.page-pageOfElement')}]]*/ "";
	// 日時関する定数
	const DATETIME_FORMAT = /*[[${@environment.getProperty('client.datetime-format-moment-js')}]]*/ "";
	// ログアウト関連
	const LOGOUT_MODAL_TITLE = /*[[#{logout.modal.title}]]*/ "";
	const LOGOUT_MODAL_BODY = /*[[#{logout.modal.body}]]*/ "";
	const CELEBRATION_NOTICE_KIND_CELEBRATION_REPLY = /*[[#{celebration.notice.kind.celebration-reply}]]*/ "";
	const CELEBRATION_NOTICE_KIND_CELEBRATION = /*[[#{celebration.notice.kind.celebration}]]*/ "";
	
	const apiCommon = new ApiCommon();
	const asyncCommon = new AsyncCommon();
	const cookieCommon = new CookieCommon();
	const modalCommon = new ModalCommon();
	const urlCommon = new UrlCommon();
	const imageCommon = new ImageCommon();
	const pagingCommon = new Paging();
	const pagingUiCommon = new PagingUi();
</script>