<html>
<head th:include = "layout/header :: header(~{::link})">
	<link rel="stylesheet" href="/css/celebration/list.css">
</head>
<body>
	<!-- nav -->
	<th:block th:replace = "layout/nav"></th:block>
	<th:block th:replace = "layout/body :: body(
			~{::th:block#body_contents},
			#{celebration.title})">
		<!-- main  content -->
		<th:block id="body_contents">
			<div class="container">
				<div class="p-3 rounded shadow">
					<div id="list-container">
						<template id="template-list">
							<div class="text-muted pt-3 list">
								<div class="toggle_wrap" href="#content_wrap_1" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">
									<!-- title area -->
									<div class="d-flex title"> 
										<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="profile" class="me-2 rounded -profile">
										<div class="mb-0 small border-bottom overflow-hidden title-right"> 
				    						<p class="fw-bold my-0 d-flex">
												<span class="flex-fill -no">No.5</span>
												<span class="-regdate">2022-03-27</span>
											</p>
											<p class="fw-bold text-secondary my-0 -name">@BTS 정국</p>
											<p class="text-truncate my-0 -title">오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ오 축하한다 ㄻㄴㅇㄹㄴㅁㄹ</p>
										</div>
									</div>
								</div>
								<div class="content_wrap collapse">
									<!-- content area -->
									<div class="pt-3 content toggl_content_wrap" href="#content_wrap_1" data-bs-toggle="collapse" role="button">
										<div class="body -body"></div>
									</div>
									<div class="pt-3 btn-outline-wrap text-end">
										<button type="button" class="btn btn-outline-primary btn-sm -modify" th:text="#{celebration.list.content.modify}"></button>
										<button type="button" class="btn btn-outline-danger btn-sm -delete" th:text="#{celebration.list.content.delete}"></button>
									</div>
									<!-- reply area -->
									<div class="reply mt-4">
										<div id="reply-container">
											<template id="template-reply-list">
												<div class="d-flex mb-3 list" style="margin-bottom:10px;">
													<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="profile" class="me-2 rounded -reply_profile">
													<div class="mb-0 small reply-title-right"> 
														<p class="fw-bold text-secondary my-0 d-flex">
															<span class="flex-fill -reply_name">@BTS 정국</span>
															<span class="-reply_rag">2022-03-27</span>
														</p>
														<p class="my-0">
															<span class="-reply_content">오 축하한다</span>
															<button type="button" class="btn-close border border-3 -reply_delete"></button>
														</p>
													</div>
												</div>
											</template>
										</div>
										<div class="d-flex write">
											<input  name="name" type="text" class="form-control w-25" th:placeholder="#{celebration.list.reply.name.placeholder}">
											<textarea  name="content" class="form-control" aria-label="With textarea" th:placeholder="#{celebration.list.reply.content.placeholder}"></textarea>
											<button type="button" class="btn btn-outline-primary ms-3 btn-sm -reply_write" th:text="#{celebration.list.reply.write}"></button>
										</div>
									</div>
								</div>
							</div> <!-- End list class -->
						</template>
					</div>
					<small class="d-block text-end mt-4"> 
						<!--
							TODO change default paging color to gray 
							https://inpa.tistory.com/entry/BootStrap5-%F0%9F%93%9A-SassSCSS-%EC%BB%A4%EC%8A%A4%ED%84%B0%EB%A7%88%EC%9D%B4%EC%A7%95 
						-->
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item page-pre_wrap">
									<a class="page-link page-pre" href="#" aria-label="Previous">
						        		<span aria-hidden="true">&laquo;</span>
						      		</a>
									<!--/*
									<a class="page-link page-pre" href="#" aria-label="Previous" tabindex="-1">
						        		<span aria-hidden="true">&laquo;</span>
						      		</a>
									*/-->
						    	</li>
								<div class="page-item_wrap">
									<template id="template-page-item">
										<li class="page-item"><a class="page-link">1</a></li>
									</template>
							    	<!--/*<li class="page-item active"><a class="page-link" href="#">1</a></li>
							    	<li class="page-item"><a class="page-link" href="#">2</a></li>
							    	<li class="page-item"><a class="page-link" href="#">3</a></li>*/-->
								</div>
						    	<li class="page-item page-next_wrap">
							      	<a class="page-link page-next" href="#" aria-label="Next">
							        	<span aria-hidden="true">&raquo;</span>
							     	</a>
						    	</li>
								<a th:href="@{'/'+${#locale}+'/celebration/write'}" class="btn btn-primary ms-auto me-0" th:text="#{celebration.list.write}"></a>
						  	</ul>
						</nav>
					</small>			
				</div>
			</div>	<!-- End Container-->
		</th:block>
	</th:block>
	<script th:inline="javascript">
		const DELETE_MODAL_TITLE = /*[[#{celebration.delete.modal.title}]]*/ "削除モーダルタイトル";
		const DELETE_MODAL_BODY = /*[[#{celebration.delete.modal.body}]]*/ "削除モーダル内容";
		const DELETE_REPLY_MODAL_TITLE = /*[[#{celebration.reply.delete.modal.title}]]*/ "削除モーダルタイトル";
		const DELETE_REPLY_MODAL_BODY = /*[[#{celebration.reply.delete.modal.body}]]*/ "削除モーダル内容";
	</script>
	<script src="/js/celebration/list.js"></script>
			
</body>
</html>