<html>
<head th:include = "layout/header :: header(~{::link})">
	<link rel="stylesheet" href="/css/celebration/write.css"/>
	<!-- include summernote css-->
   	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
</head>
<body>
	<!-- nav -->
	<th:block th:replace = "layout/nav"></th:block>
	<th:block th:replace = "layout/body :: body(
			~{::th:block#body_contents},
			#{celebration.title})">
		<!-- main  content -->
		<th:block id="body_contents">
			<div class="container">
			    <form>
			      <div class="panel mb-4">
					<div class="panel-heading">
			          <span class="panel-title" th:text="#{celebration.write.profile}"></span>
			        </div>
			        <div class="panel-body text-center"> 
					  <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" id="profile-avatar" class="rounded-circle profile-avatar" alt="User avatar">
					  <div class="form-text" th:text="#{celebration.write.profile.placeholder}">
					  </div>
					  <!-- プロフィールモーダルでファイル選択時利用するfileタグ-->
					  <input id="file-input" type="file" accept="image/png, image/jpeg" hidden/>
					</div>
			      </div>
			      <div class="panel panel-default">
			        <div class="panel-heading">
			          <h4 class="panel-title" th:text="#{celebration.write.area.title}"></h4>
			        </div>
			        <div class="panel-body">
			          <div class="row"> 
						<label class="control-label" th:text="#{celebration.write.name}"></label>
						<div class="name-wrap">
							<input class="form-control" name="name" type="text" th:placeholder="#{celebration.write.name.placeholder}">
						</div>
						<!-- remain area -->
						<div></div>
			          </div>
			          <div class="row"> 
						<label class="control-label" th:text="#{celebration.write.title}"></label>
						<div class="title-wrap">
							<input class="form-control" name="title" type="text" th:placeholder="#{celebration.write.title.placeholder}">
						</div>
						<!-- remain area -->
						<div></div>
			          </div>
					  <div class="summbernote row" id="summernote"></div>
					  <div class="pt-3 btn-outline-wrap text-end">
						<button id="writeBtn" type="button" class="btn btn-primary" th:text="${data?.celebrationNo == null} ? #{celebration.write.button.write} : #{celebration.modify.button.write}"></button>
						<button type="button" class="btn btn-secondary" th:text="#{celebration.write.button.cancle}" onclick="history.back()"></button>
					  </div>
			        </div>
			      </div>
			    </form>
			</div>	<!-- End Container-->
		</th:block>
	</th:block>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <th:block th:if="__${#locale}__ == 'ko'">
	  <script src="/external/summernote/lang/summernote-ko-KR.min.js"></script>
	</th:block>
	<th:block th:if="__${#locale}__ == 'ja'">
	  <script src="/external/summernote/lang/summernote-ja-JP.min.js"></script>
	</th:block>
	<script th:inline="javascript">
		const CELEBATION_NO = /*[[${data?.celebrationNo}]]*/ "お祝い番号";
		
		const profileModalTitle = /*[[#{celebration.write.profile-modal.title}]]*/ "プロフィールモーダルのタイトル";
		const profileModalBody = /*[[#{celebration.write.profile-modal.body}]]*/ "プロフィールモーダルの内容";
		const profileModalFirstBtnMsg = /*[[#{celebration.write.profile-modal.first-button}]]*/ "プロフィールモーダルの最初のボタンの文字列";
		const profileModalSecondBtnMsg = /*[[#{celebration.write.profile-modal.second-button}]]*/ "プロフィールモーダルの二番目のボタンの文字列";
		const badRequestProfileType = /*[[#{celebration.write.bad-request.profile.type}]]*/ "拡張子ミス";
		
		const writeModalTitle = /*[[#{celebration.write.modal.title}]]*/ "作成モーダルタイトル";
		const writeModalBody = /*[[#{celebration.write.modal.body}]]*/ "作成モーダルないよう";
		
		const modifyModalTitle = /*[[#{celebration.modify.modal.title}]]*/ "修正モーダルタイトル";
		const modifyModalBody = /*[[#{celebration.modify.modal.body}]]*/ "修正モーダルないよう";
		
		const summernote_lang = window.language == "ko" ? "ko-KR" : "ja-JP";
	</script>
	<script src="/js/celebration/celebration_common.js"></script>
	<script src="/js/celebration/write/common.js"></script>
	<!--/* celebrationNoがあるかどうかにより読み込むjsを異なるようにする*/-->
	<script th:src="${data?.celebrationNo != null} ? '/js/celebration/write/modify.js' : '/js/celebration/write/write.js'"></script>
</body>
</html>