@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Noto+Sans+JP:wght@900&family=Rampart+One&family=Single+Day&family=Yeon+Sung&family=Yuji+Hentaigana+Akari&display=swap');

a {
	text-decoration:none;
	color : black;
}

p {
	font-family: sans-serif;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited { /* change color from black to white. because the color of purpul color is black   */
    color:#fff;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:visited{ /* change color from black to white. because the color of purpul color is black   */
	color: #343a40;
}

.bg-white { background-color: #fff; }
.bg-purple-400 { background-color: #b794f4; }

ul {
	list-style: none;
}

body.modal-open { /* prevent body from scrolling when a modal is opend */
    overflow: hidden;
}

.page-title{ /*title of page*/
	padding-top:1.5rem;
	padding-bottom:2rem;
	font-family: 'Mochiy Pop One', 'Single Day',sans-serif;
	border-bottom:1px dotted #ccc;
}


html {
    font-size: 20px;
}

@media (min-width: 381px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}


@media (max-width: 380px) {
  html {
    font-size: 12px;
  }
}