@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Nanum+Brush+Script&family=Nanum+Gothic&family=Noto+Sans+JP:wght@900&family=Rampart+One&family=Single+Day&family=Yeon+Sung&family=Yuji+Hentaigana+Akari&display=swap');

a {
	text-decoration:none;
	color : black;
}

p, span {
	font-family: sans-serif;
}

.bg-gray{
	background-color:#dadada;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited { /* change color from black to white. because the color of purpul color is black   */
    color:#fff;
}

.bg-white { background-color: #fff; }
.bg-purple-400 { background-color: #b794f4; }

ul {
	list-style: none;
}

body.modal-open { /* prevent body from scrolling when a modal is opend */
    overflow: hidden;
}

.page-title{ /*title of page*/
	padding-top:1.5rem;
	padding-bottom:2rem;
	font-family: 'Mochiy Pop One', 'Single Day',sans-serif;
	border-bottom:1px dotted #ccc;
	color: #9161a8;
}

/** 現在のページに対してイベントが発生しないようにする */
.page-item.active .page-link {
	pointer-events: none;
}


html {
    font-size: 20px;
}

/*
* Modal
*/
#loadingModal .modal-content{
  width: 48px;
  border: none;
  background-color: transparent;
}

#loadingModal .modal-dialog-centered{
	justify-content: center; /*中央になるように*/
}

#loadingModal .spinner-border{
	width: 7rem;
	height: 7rem;
}

@media (min-width: 381px) and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}


@media (max-width: 380px) {
  html {
    font-size: 12px;
  }
}