@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Nanum+Brush+Script&family=Noto+Sans+JP:wght@900&family=Rampart+One&family=Single+Day&family=Yuji+Hentaigana+Akari&display=swap');

a {
	text-decoration:none;
	color : black;
}

.bg-white { background-color: #fff; }
.bg-purple-400 { background-color: #b794f4; }

ul {
	list-style: none;
}