<html>
<head th:include = "layout/header :: header(~{::link})">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<!-- nav -->
	<th:block th:replace = "layout/nav"></th:block>
	<th:block th:replace = "layout/body :: body(~{::th:block#body_contents},_)">
		<!-- main  content -->
		<th:block id="body_contents">
			<!-- jumbotron -->
			<div class="container">
				<div id="jumbotron" class="carousel slide jumbotron" data-bs-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active" data-bs-interval="3000">
				      <img src="/image/jumbotron1.jpg" class="d-block w-100 img-fluid rounded" alt="jumbotron1">
				    </div>
				    <div class="carousel-item" data-bs-interval="3000">
				      <img src="/image/jumbotron2.jpg" class="d-block w-100 img-fluid rounded" alt="jumbotron2">
				    </div>
				    <div class="carousel-item" data-bs-interval="3000">
				      <img src="/image/jumbotron3.jpg" class="d-block w-100 img-fluid rounded" alt="jumbotron3">
				    </div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#jumbotron" data-bs-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#jumbotron" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				  </button>
				</div>
			</div>
			<hr>
			<div class="container">
				<h1 class="main-middle-text text-center" th:text="#{main.text-center}"></h1>
				<div class="main-letter">
					<div class="row letter-content-wrapper">
						<div class="col-4 px-0 tmp">
							<img src="/image/letter1.jpg" class="img-fluid img-thumbnail" alt="letter-image1">
							<img src="/image/letter2.jpg" class="img-fluid img-thumbnail" alt="letter-image2">
							<img src="/image/letter3.jpg" class="img-fluid img-thumbnail" alt="letter-image3">
							<img src="/image/letter4.jpg" class="img-fluid img-thumbnail" alt="letter-image4">
							<img src="/image/letter5.jpg" class="img-fluid img-thumbnail" alt="letter-image4">
						</div>
						<div class="col-8 letter-right">
							<div>
								<ul class="py-5">
									<li class="py-3">
										<svg xmlns="http://www.w3.org/2000/svg"  fill="pink" class="bi bi-heart-fill" viewBox="0 0 16 16">
									  		<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
										</svg>
										<span class="ps-2"　th:text="#{main.letter-name1}"></span>
									</li>
									<li class="py-3">
										<svg xmlns="http://www.w3.org/2000/svg" fill="pink" class="bi bi-heart-fill" viewBox="0 0 16 16">
									  		<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
										</svg>
										<span class="ps-2" th:text="#{main.letter-name2}"></span>
									</li>
								</ul>
							</div>
							<h3 class="text-white-50 pb-2" th:text="#{main-letter-content}"></h3>
						</div> <!-- End letter-content-wrapper-->
					</div> <!-- End main-letter-->
				</div>
				<div class="main-video py-5">  
					<div class="ratio ratio-16x9">
						<video controls>  
						  <source src="/video/main.mp4" type="video/mp4">
						</video>
						<!--<iframe class="embed-responsive-item" src="/video/main.mp4" allowfullscreen></iframe>-->
					</div>
				</div>
			</th:block>
	</th:block>
			
</body>
</html>