<!DOCTYPE html>
<html>
<body>

<h1>The audio element</h1>
<audio controls style="width: 100px;">
   <source src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" type="audio/mpeg">
</audio>
<audio controls muted autoplay>
  <source src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" type="audio/ogg">
  <source src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<iframe src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" allow="autoplay" id="audio"></iframe>
<audio id="player" autoplay controls><source src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" type="audio/mp3"></audio>
<!--<p>Click on the play button to play a sound:</p>
  <video id="video" muted autoplay loop>
    <source src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" type="video/mp3">
  </video>
<audio controls muted autoplay>
  <source src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<video src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" poster="poster.jpg" autoplay loop muted></video>
<embed src="C:\git\azusato\azusato\src\main\resources\static\video\background.mp3" width="180" height="90" loop="false" autostart="true" hidden="false" muted />-->
</body>
</html>
