<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30">
	<springProperty scope="context" name="ABSOLUTE_PATH" source="logging.absolute-path" />
	<springProperty scope="context" name="FILE_NAME" source="logging.file-name" />
	<springProperty scope="context" name="logLevel" source="logging.level.root" />
	
	<!-- ローカル環境とテスト環境以外にはファイルに書き込む機能を利用する。-->
	<springProfile name="!(local|test)">
		<property name="USE_ROLLING_FILE" value="true" />
	</springProfile>	

    <!--出力ルール～コンソール～ -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{100}.%M - %.-512msg%n</pattern>
        </encoder>
    </appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>${ABSOLUTE_PATH}/${FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<!-- 日ずつファイル作成 -->
            <fileNamePattern>${ABSOLUTE_PATH}/%d{yyyyMM}/${FILE_NAME}.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            	<maxFileSize>5MB</maxFileSize>
        	</timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        
       <!--  出力メッセージ -->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{100}.%M - %.-512msg%n</pattern>
        </encoder>
    </appender>
    
    
    <!-- Thymeleafに関するものの設定 -->
    <logger name="org.thymeleaf.TemplateEngine" level="INFO">
    	<appender-ref ref="STDOUT"/>
    	<if condition='property("USE_ROLLING_FILE").contains("true")'>
    		<then>
    			<appender-ref ref="FILE" />
    		</then>
    	</if>
    </logger>
    
 <!--    バインドされるEntity内容見えないように。 
    <logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="INFO">
    	<appender-ref ref="STDOUT"/>
    	<appender-ref ref="FILE" />
    </logger> -->
    
    <!-- 基本ログ出力レベル設定 -->
    <root level="${logLevel}">
      <appender-ref ref="STDOUT"/>
    	<if condition='property("USE_ROLLING_FILE").contains("true")'>
    		<then>
    			<appender-ref ref="FILE" />
    		</then>
    	</if>
    </root>

    
</configuration>